# Explore Munich Traffic DWH

## Connect

In [1]:
import configparser
%load_ext sql

In [2]:
config = configparser.ConfigParser()
config.read("dwh.cfg")

['dwh.cfg']

In [3]:
connstring = config['Red']['DWH_CS']

In [10]:
%sql connstring

'Connected: dwhuser@sbmd1'

## Explore Objetcs

### Tables

In [6]:
%%sql
SELECT
tablename
FROM
   pg_catalog.pg_tables
WHERE
   schemaname != 'pg_catalog'
AND schemaname != 'information_schema';

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
14 rows affected.

[('t03_dim_conn',),
 ('t_gmap01_live',),
 ('t_db01_live',),
 ('t_w01_live',),
 ('zz_gmap_cities',),
 ('zz_w_cities',),
 ('zz_db_cities',),
 ('t01_delay_fact',),
 ('t02_dim_time',),
 ('t04_dim_part',),
 ('t_w02_weather_codes',),
 ('t_gmap01_stagings',),
 ('t_w01_stagings',),
 ('t_db01_stagings',)]

### Views

In [7]:
%%sql
SELECT
   *
FROM
   pg_catalog.pg_views
WHERE
   schemaname != 'pg_catalog'
AND schemaname != 'information_schema';

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
5 rows affected.

[('public', 'v01_gmap_fact', 'dwhuser', 'SELECT (((g.start_loc)::text || \'_\'::text) || (g.end_loc)::text) AS conn_detail, to_char(g."timestamp", \'yyyy-mm-dd HH24\'::text) AS dept_hour, 2  ... (165 characters truncated) ... lay_sec FROM t_gmap01_live g GROUP BY (((g.start_loc)::text || \'_\'::text) || (g.end_loc)::text), to_char(g."timestamp", \'yyyy-mm-dd HH24\'::text);'),
 ('public', 'check_w_records', 'dwhuser', "SELECT to_char(t_w01_live.reference_time, 'YYYY-MM-DD'::text) AS to_char, count(*) AS count FROM t_w01_live GROUP BY to_char(t_w01_live.reference_time, 'YYYY-MM-DD'::text);"),
 ('public', 'check_gmap_records', 'dwhuser', 'SELECT to_char(t_gmap01_live."timestamp", \'YYYY-MM-DD\'::text) AS to_char, count(*) AS count FROM t_gmap01_live GROUP BY to_char(t_gmap01_live."timestamp", \'YYYY-MM-DD\'::text) ORDER BY to_char(t_gmap01_live."timestamp", \'YYYY-MM-DD\'::text);'),
 ('public', 'check_db_records', 'dwhuser', 'SELECT to_char(t_db01_live."timestamp", \'YYYY-MM-DD\'::text) AS to_char, count(*) AS count FROM t_db01_live GROUP BY to_char(t_db01_live."timestamp", \'YYYY-MM-DD\'::text) ORDER BY to_char(t_db01_live."timestamp", \'YYYY-MM-DD\'::text);'),
 ('public', 'v02_weather_dim', 'dwhuser', 'SELECT w.loc_name, c.city_name AS city, to_char(w.reference_time, \'yyyy-mm-dd HH24\'::text) AS dept_hour, min(w.sunrise_time) AS sunrise_time, "max" ... (727 characters truncated) ... z_w_cities c ON (((c.start_loc)::text = (w.loc_name)::text))) GROUP BY w.loc_name, c.city_name, to_char(w.reference_time, \'yyyy-mm-dd HH24\'::text);')]

## Explore Raw Data
This is about exploring the stage and loive tables for all three data sources

### Train / DB Data
Currently there are only 71k records for 6 departure dates in it and have a glimpse at the table.

In [8]:
%sql SELECT COUNT(*) FROM t_db01_live;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
1 rows affected.

[(637776,)]

In [11]:
%sql SELECT * from t_db01_live LIMIT 5;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
5 rows affected.

[(74602, 'Ingolstadt Hbf', 'Eching', datetime.datetime(2020, 3, 14, 0, 31, 3, 373876), datetime.datetime(2020, 3, 13, 0, 33), datetime.datetime(2020, 3, 13, 2, 12), 1, '-5940', "['ICE', 'S']", '31.6', True, False, 0, 0, 0, datetime.date(2020, 3, 13)),
 (74666, 'Bad Aibling Kurpark', 'Steinebach an der Wied Ort', datetime.datetime(2020, 3, 13, 19, 28, 3, 325736), datetime.datetime(2020, 3, 13, 7, 14), datetime.datetime(2020, 3, 13, 16, 25), 5, '-33060', "['M', 'IC', 'ICE', 'RB', 'RB', 'BUS']", '95.9', True, False, 0, 0, 0, datetime.date(2020, 3, 13)),
 (74730, 'München-Pasing', 'Ingolstadt Hbf', datetime.datetime(2020, 3, 13, 14, 55, 5, 605864), datetime.datetime(2020, 3, 13, 14, 5), datetime.datetime(2020, 3, 13, 15, 24), 1, '-4740', "['S', 'RB']", '', False, False, 3, 0, 3, datetime.date(2020, 3, 13)),
 (74794, 'München-Freiham', 'Hohenbrunn', datetime.datetime(2020, 3, 13, 15, 46, 37, 701021), datetime.datetime(2020, 3, 13, 14, 56), datetime.datetime(2020, 3, 13, 15, 55), 1, '-3540', "['S']", '', False, False, 1, 0, 1, datetime.date(2020, 3, 13)),
 (74858, 'Eichstätt Stadt', 'München-Feldmoching', datetime.datetime(2020, 3, 13, 15, 42, 3, 429814), datetime.datetime(2020, 3, 13, 15, 44), datetime.datetime(2020, 3, 13, 17, 57), 2, '-7980', "['BRB', 'RB', 'BUS']", '23.9', True, False, 0, 0, 0, datetime.date(2020, 3, 13))]

In [12]:
%sql SELECT COUNT (DISTINCT dep_date) FROM t_db01_live;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
1 rows affected.

[(51,)]

### Google maps data
Currently there are 38k records for 38 departure dates in it and have a glimpse at the table.

In [13]:
 %sql SELECT COUNT(*) FROM t_gmap01_live;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
1 rows affected.

[(49523,)]

In [14]:
 %sql SELECT * from t_gmap01_live LIMIT 5;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
5 rows affected.

[(73849, 'Nürnberg', 'Rosenheim', datetime.datetime(2020, 2, 10, 10, 51, 23), '49.4518817', '11.0766489', 'Nuremberg, Germany', '47.8568072', '47.8568072', 'Rosenheim, Germany', '239 km', 238695.0, '2 hours 33 mins', 9159.0, '2 hours 33 mins', 9154.0),
 (73913, 'München-Ost', 'Nürnberg', datetime.datetime(2020, 2, 10, 20, 51, 5), '48.1268711', '11.606603', 'München Ost, 81667 München, Germany', '49.4518817', '49.4518817', 'Nuremberg, Germany', '170 km', 169940.0, '1 hour 51 mins', 6682.0, '1 hour 45 mins', 6286.0),
 (73919, 'Rosenheim', 'München-Marienplatz', datetime.datetime(2020, 2, 10, 12, 51, 29), '47.8568072', '12.1188533', 'Rosenheim, Germany', '48.136656', '48.136656', 'Marienplatz, 80331 München, Germany', '66.5 km', 66458.0, '57 mins', 3433.0, '57 mins', 3432.0),
 (73925, 'München-Pasing', 'Fürstenfeldbruck', datetime.datetime(2020, 2, 10, 17, 51, 10), '48.1505857', '11.4621758', 'München-Pasing, Pasinger Bahnhofspl. 9, 81241 München, Germany', '48.1738243', '48.1738243', '82256 Fürstenfeldbruck, Germany', '25.9 km', 25899.0, '26 mins', 1567.0, '26 mins', 1583.0),
 (73977, 'Nürnberg', 'Rosenheim', datetime.datetime(2020, 2, 11, 9, 51, 25), '49.4518817', '11.0766489', 'Nuremberg, Germany', '47.8568072', '47.8568072', 'Rosenheim, Germany', '239 km', 238695.0, '2 hours 33 mins', 9159.0, '2 hours 45 mins', 9894.0)]

In [15]:
%sql SELECT COUNT (DISTINCT TO_CHAR("timestamp", 'YYYY-MM-DD')) FROM t_gmap01_live;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
1 rows affected.

[(47,)]

### Weather data
Currently there are 85k records for 42 departure dates in it and have a glimpse at the table.

In [16]:
 %sql SELECT COUNT(*) FROM t_w01_live;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
1 rows affected.

[(207764,)]

In [17]:
 %sql SELECT * from t_w01_live LIMIT 5;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
5 rows affected.

[(10, 'Altomünster', 2956951, 75, 'light rain', '', '', '', 86, 1003, None, None, None, datetime.datetime(2020, 3, 6, 18, 45, 54), None, None, 'Rain', datetime.datetime(2020, 3, 6, 5, 46, 8), datetime.datetime(2020, 3, 6, 17, 6, 28), 3.77000000000004, None, 5.0, 2.22000000000003, 10000, 500, '10n', 260.0, None, 8.2, datetime.datetime(2020, 3, 6, 18, 45, 55)),
 (17, 'Augsburg', 2954172, 100, 'light rain', '', '', '', 49, 1006, None, None, 0.25, datetime.datetime(2020, 2, 13, 15, 52, 50), None, None, 'Rain', datetime.datetime(2020, 2, 13, 6, 28, 23), datetime.datetime(2020, 2, 13, 16, 33, 13), 7.74000000000001, None, 9.44, 5.56, 10000, 500, '10d', 230.0, None, 4.1, datetime.datetime(2020, 2, 13, 15, 55, 7)),
 (24, 'Altomünster', 2956951, 55, 'broken clouds', '', '', '', 81, 1018, None, None, None, datetime.datetime(2020, 3, 11, 19, 37, 46), None, None, 'Clouds', datetime.datetime(2020, 3, 11, 5, 35, 58), datetime.datetime(2020, 3, 11, 17, 14, 1), 11.14, None, 12.78, 9.44, 10000, 803, '04n', 240.0, None, 3.1, datetime.datetime(2020, 3, 11, 19, 37, 46)),
 (39, 'Altomünster', 2956951, 90, 'overcast clouds', '', '', '', 93, 1012, None, None, None, datetime.datetime(2020, 3, 9, 7, 37, 35), None, None, 'Clouds', datetime.datetime(2020, 3, 9, 5, 40, 3), datetime.datetime(2020, 3, 9, 17, 11, 1), 4.93000000000001, None, 6.11000000000001, 3.33000000000004, 10000, 804, '04d', 210.0, None, 2.6, datetime.datetime(2020, 3, 9, 7, 37, 36)),
 (46, 'Altomünster', 2956951, 75, 'broken clouds', '', '', '', 80, 1018, None, None, None, datetime.datetime(2020, 3, 9, 19, 37, 36), None, None, 'Clouds', datetime.datetime(2020, 3, 9, 5, 40, 3), datetime.datetime(2020, 3, 9, 17, 11, 1), 4.40000000000003, None, 6.67000000000002, 2.22000000000003, 10000, 803, '04n', 240.0, None, 3.1, datetime.datetime(2020, 3, 9, 19, 37, 37))]

In [18]:
%sql SELECT COUNT (DISTINCT TO_CHAR(reception_time, 'YYYY-MM-DD')) FROM t_w01_live;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
1 rows affected.

[(51,)]

## Explore intermediate Objects (zz tables and views)

### weather codes
Currently there are 31 different weather codes (i.e. 9 states / several detailed states) in this table, but of course this can be extended in future loads.

In [19]:
%sql SELECT * FROM t_w02_weather_codes LIMIT 10;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
10 rows affected.

[(200, 'Thunderstorm', 'thunderstorm with light rain'),
 (211, 'Thunderstorm', 'thunderstorm'),
 (300, 'Drizzle', 'light intensity drizzle'),
 (301, 'Drizzle', 'drizzle'),
 (310, 'Drizzle', 'light intensity drizzle rain'),
 (311, 'Drizzle', 'drizzle rain'),
 (500, 'Rain', 'light rain'),
 (501, 'Rain', 'moderate rain'),
 (502, 'Rain', 'heavy intensity rain'),
 (503, 'Rain', 'very heavy rain')]

In [20]:
%sql SELECT DISTINCT status FROM t_w02_weather_codes ORDER BY 1;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
9 rows affected.

[('Clear',),
 ('Clouds',),
 ('Drizzle',),
 ('Fog',),
 ('Mist',),
 ('Rain',),
 ('Snow',),
 ('Squall',),
 ('Thunderstorm',)]

### ZZ Cities table
Basically these tables are structured in the same manner for all three data sources. Their purpose is to match the locations name to standardized city names, so that these 3 data sources can be connected and compared with this attribute.
For demo purposes, I only show some data of the train cities.

In [21]:
%sql SELECT * FROM zz_db_cities LIMIT 5;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
5 rows affected.

[('Augsburg-Oberhausen', 'Augsburg'),
 ('Eching', 'Eching'),
 ('Eurasburg b Wolfratshausen', 'Wolfratshausen'),
 ('Grafing Bahnhof', 'Grafing'),
 ('Grafing b. München Stadt', 'Grafing')]

### v01_gmap_fact
This view prepares the gmap data for inserts into the fact table of the data model.

In [22]:
%sql SELECT * FROM v01_gmap_fact LIMIT 5;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
5 rows affected.

[('Landshut_Augsburg-Rathausplatz', '2020-02-10 15', 2, 5028.0, 5019.5, -8.5),
 ('München-Pasing_Rosenheim', '2020-02-11 05', 2, 3884.0, 3895.0, 11.0),
 ('Nürnberg_Rosenheim', '2020-02-10 17', 2, 9159.0, 8619.0, -540.0),
 ('Landshut_Augsburg-Rathausplatz', '2020-02-11 18', 2, 5156.0, 4992.0, -164.0),
 ('Fürstenfeldbruck_Landshut', '2020-02-11 15', 2, 3897.0, 3966.0, 69.0)]

### v02_weather_dim
This view prepares the weather data for inserts into the weather dimension table of the data model.

In [23]:
%sql SELECT * FROM v02_weather_dim LIMIT 5;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
5 rows affected.

[('Bad Aibling', 'Bad Aibling', '2020-03-01 06', datetime.datetime(2020, 3, 1, 5, 52, 29), datetime.datetime(2020, 3, 1, 16, 56, 20), 20, None, None, None, None, 210.0, None, 5.7, 80, 1004, None, 4.54, None, 2.78, 6.11, 10000, Decimal('801')),
 ('Bayrischzell', 'Bayrischzell', '2020-03-12 05', datetime.datetime(2020, 3, 12, 5, 30, 37), datetime.datetime(2020, 3, 12, 17, 12, 48), 7, None, None, None, None, None, None, 1.0, 84, 1018, None, 1.91, None, -2.22, 6.67, 10000, Decimal('800')),
 ('Bayrischzell', 'Bayrischzell', '2020-03-08 13', datetime.datetime(2020, 3, 8, 5, 38, 38), datetime.datetime(2020, 3, 8, 17, 6, 57), 20, None, None, None, None, None, None, 1.5, 39, 1018, None, 9.73, None, 7.22, 11.67, 10000, Decimal('801')),
 ('Baldham', 'Baldham', '2020-03-08 19', datetime.datetime(2020, 3, 8, 5, 39, 45), datetime.datetime(2020, 3, 8, 17, 7, 31), 82, None, None, None, None, 340.0, None, 1.5, 56, 1015, None, 4.32, None, 1.67, 6.67, 10000, Decimal('803')),
 ('Buchenau', 'Buchenau', '2020-03-10 16', datetime.datetime(2020, 3, 10, 5, 45, 17), datetime.datetime(2020, 3, 10, 17, 17, 10), 75, None, None, None, None, 200.0, None, 4.1, 93, 1005, None, 8.1, None, 7.22, 9.44, 4500, Decimal('300'))]

## Explore Datas Model Objects

### Fact Table

In [24]:
%sql SELECT * FROM t01_delay_fact LIMIT 5;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
0 rows affected.

[]

### Dimension tables

In [37]:
%sql SELECT * FROM t02_dim_time LIMIT 5;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
0 rows affected.

[]

In [38]:
%sql SELECT * FROM t03_dim_conn LIMIT 5

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
0 rows affected.

[]

In [39]:
%sql SELECT * FROM t04_dim_part;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
2 rows affected.

[(2, 'gmap'), (1, 'train')]

In [40]:
%sql SELECT * FROM t05_dim_weather LIMIT 5;

 * postgresql://dwhuser:***@redshift-cluster-1sbmd.cg1lpo6kzhm9.eu-central-1.redshift.amazonaws.com:5439/sbmd1
(psycopg2.errors.UndefinedTable) relation "t05_dim_weather" does not exist

[SQL: SELECT * FROM t05_dim_weather LIMIT 5;]
(Background on this error at: http://sqlalche.me/e/f405)